<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yougou.shopping.mapper.rest.TbItemDescMapper" >
    <select id="selectItemDescById" resultType="yougou.shopping.pojo.TbItemDesc" parameterType="long">
        SELECT * FROM tb_item_desc WHERE itemId = #{id}
    </select>


</mapper>