<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yougou.shopping.mapper.TbContentCategoryMapper" >
    <select id="findCategoryList" parameterType="long" resultType="yougou.shopping.pojo.TbContentCategory">
        SELECT * FROM tb_content_category where parentId=#{parentId} and status=1;
    </select>

    <insert id="insertTbContentCategory" parameterType="yougou.shopping.pojo.TbContentCategory" useGeneratedKeys="true">
      INSERT INTO tb_content_category(parentId,name,status,sortOrder,isParent,created,updated)
      VALUE (#{parentId},#{name},#{status},#{sortOrder},#{isParent},#{created},#{updated})
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <select id="selectTbContentCategoryById" parameterType="long" resultType="yougou.shopping.pojo.TbContentCategory">

        SELECT * FROM tb_content_category WHERE id= #{parentId}

    </select>

    <update id="updateTbContentCategoryisParent">
        UPDATE tb_content_category SET isParent = #{isParent},updated = #{date} where id = #{id}
    </update>

    <update id="updateTbContentCategoryName" parameterType="yougou.shopping.pojo.TbContentCategory">
        update tb_content_category set name=#{name},updated=#{updated} where id = #{id}
    </update>


    <update id="deleteTbContentCategory" parameterType="yougou.shopping.pojo.TbContentCategory">
        UPDATE tb_content_category SET status = 0,updated=#{updated} WHERE id = #{id}
    </update>
</mapper>