<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yougou.shopping.mapper.TbItemDescMapper" >
  <insert id="saveTbItemDesc" parameterType="yougou.shopping.pojo.TbItemDesc">
  	insert into tb_item_desc(itemId,itemDesc,created,updated) value (#{itemid},#{itemdesc},#{created},#{updated})
  </insert>
    
    
    <select id="selectItemDescById" resultType="yougou.shopping.pojo.TbItemDesc" parameterType="long">
        SELECT * FROM tb_item_desc WHERE itemId = #{id}
    </select>

    <update id="updateTbItemDesc" parameterType="yougou.shopping.pojo.TbItemDesc">
        update tb_item_desc set itemDesc=#{itemdesc},updated=#{updated} where itemId = #{itemid}
    </update>
</mapper>