<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yougou.shopping.mapper.TbOrderMapper" >
  <insert id="insertOrder" parameterType="yougou.shopping.pojo.TbOrder">
      INSERT INTO tb_order(orderId,payment,paymentType,postFee,status,createTime,
      updateTime,paymentTime,consignTime,endTime,closeTime,shippingName,shippingCode,
      userId,buyer_message,buyer_nick,buyer_rate) VALUE (#{orderid},#{payment},#{paymenttype},
    #{postfee},#{status},#{createtime},#{updatetime},#{paymenttime},#{consigntime},#{endtime},
    #{closetime},#{shippingname},#{shippingcode},#{userid},#{buyerMessage},#{buyerNick},#{buyerRate})
  </insert>
</mapper>