<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yougou.shopping.mapper.TbOrderItemMapper" >
  <insert id="insertOrderItem" parameterType="yougou.shopping.pojo.TbOrderItem">
      INSERT INTO tb_order_item(id,itemId,orderId,num,title,price,totalFee,picPath) VALUE
      (#{id},#{itemid},#{orderid},#{num},#{title},#{price},#{totalfee},#{picpath})
  </insert>
</mapper>