<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yougou.shopping.mapper.TbOrderShippingMapper" >
  <insert id="insertOrderShipping" parameterType="yougou.shopping.pojo.TbOrderShipping">
      INSERT INTO tb_order_shipping(orderId, receiverName, receiverPhone, receiverMobile, receiverState
      , receiverCity, receiverDistrict, receiverAddress, receiverZip, created, updated) VALUE
      (#{orderid},#{receivername},#{receiverphone},#{receivermobile},#{receiverstate},#{receivercity}
      ,#{receiverdistrict},#{receiveraddress},#{receiverzip},#{created},#{updated})
  </insert>
</mapper>