<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yougou.shopping.mapper.TbUserMapper" >
    <select id="checkName" parameterType="string" resultType="yougou.shopping.pojo.TbUser">
        select * from tb_user WHERE username = #{username}
    </select>

    <select id="checkPhone" parameterType="string" resultType="yougou.shopping.pojo.TbUser">
        select * from tb_user WHERE phone = #{phone}
    </select>

    <select id="checkEmail" parameterType="string" resultType="yougou.shopping.pojo.TbUser">
        select * from tb_user WHERE email = #{email}
    </select>

    <insert id="insertUser" parameterType="yougou.shopping.pojo.TbUser">
        INSERT INTO tb_user(username,password,phone,email,created,updated)
        VALUE (#{username},#{password},#{phone},#{email},#{created},#{updated})
    </insert>

    <select id="loginUser" resultType="yougou.shopping.pojo.TbUser">
      SELECT * FROM tb_user where username=#{0} and password = #{1}
    </select>
</mapper>